* {
  margin: 0;
  padding: 0;
  outline: 0;
}
main {
  padding: 2rem;
}
.grid {
/*  max-width: 96vw;  Limite la largeur à 96 % de la largeur de la zone d'affichage (« viewport » en anglais) */
  margin: 0 auto; /* Centre horizontalement le conteneur */
 background-color: #F0EEE9;
}
.bouton-aligne{
margin:10px 2.5% 10px 2.5%;
text-align:center;
}
.titre{
text-shadow:#00c3ff 0 -1px 0,
#ffff1c  1px 1px 0,
#00c3ff 2px 2px 0,
#00c3ff 3px 3px 0,
#ffff1c 4px 4px 0,
#00c3ff 5px 5px 0,
#00c3ff 5px 5px 10px;
color:rgb(255 255 255 / 100%);
} 
.item {
 /* border: 2px solid rgb(255 0 0);*/
  border-radius: 0.5em;
}
.container {
 /* border: 2px solid rgb(0 255 0 );*/
  border-radius: 0.5em;  
  /*color: red;*/
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-content:space-around;
}
.container2 {
 /* border: 2px solid rgb(0 255 0 );*/
  border-radius: 0.5em;  
  /*color: red;*/
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-content:center;
}
.afficheprocess{
  /*border: 5px solid rgb(255 0 255);*/
  /*border-radius: 0.5em;*/
  /*font: 1.2em sans-serif;*/
  height:600px;
  color: blue;
  /*background-color: #add8e6;*/
  display: flex;  
  flex-direction: column;  
  justify-content: space-between;
  flex-wrap: wrap; 
}
.afficheconsigne {
  /*border: 5px solid rgb(0 125 125);*/
 /* border-radius: 0.5em; */ 
 height:550px;
  color: red;
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.process {
  border: 2px solid rgb(0 191 255);
  border-radius: 0.5em;
  color: red;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.boutonscope {
  /*border: 2px solid rgb(0 0 255);
  border-radius: 0.5em;*/
  /*height:200px;*/
  background-color: #F0EEE9;
  display: flex;  
  flex-direction: column;
  justify-content:space-between;
  align-content:left;
  flex-wrap: wrap; 
}
.boutonperturb {
  /*border: 2px solid rgb(0 0 255);*/
  border-radius: 0.5em;
  color: red; 
  display: flex;  
  flex-direction: row;
  align-content:right;
  /*justify-content: center;  */
  flex-wrap: wrap; 
}
.schemaboucle{
/*
  border: 2px solid rgb(255 0 0);
  border-radius: 0.5em; 
*/
}
.scope{
  /*
  border: 2px solid rgb(255 128 0);
  border-radius: 0.5em;
  */
}
.vertical { 
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap; 
}
.horizontal { 
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.button1 {
  border: 2px solid rgb(255 0 0);
  border-radius: 0.5em; 
  color: red;
  background-color: white;
}

.button2 {
border: 2px solid rgb(0 0 255);
  border-radius: 0.5em; 
  color: blue;
  background-color: white;
}

.button3 {
border-radius: 8px;
background-color: #04AA6D;/* green */
} 

.button4 {
border: 2px solid rgb(173,216,230);
border-radius: 0.5em; 
background-color: white;
color:rgb(0 191 255);
}

.ch1 {
border: 2px solid rgb(173,216,230);
border-radius: 0.5em; 
background-color:white; 
color:rgb(218 165 32);
}

.ch2 {
border: 2px solid rgb(173,216,230);
border-radius: 0.5em; 
background-color: white;
color:rgb(0 0 255);
} 

.math {
border: 2px solid rgb(173,216,230);
border-radius: 0.5em; 
background-color: white;
color:rgb(255 0 0);
} 

.labelscope {
border-radius: 0.5em; 
background-color: #F0EEE9;
color:rgb(0 191 255);
} 

.textright{
margin-top:60px;
font: 1.2em sans-serif;
border: 2px solid rgb(255 255 255);
border-radius: 0.5em;
text-align: right;
}
.textv1{
width:40px;
font: 0.8em sans-serif;
border: 2px solid rgb(218 165 32);
border-radius: 0.5em;
text-align: right;
}

.textv2{
width:20px;
font: 1.2em sans-serif;
border: 2px solid rgb(35, 14, 216);
border-radius: 0.5em;
text-align: right;
}

.textleft{
margin-top:60px;
font: 1.2em sans-serif;
border: 2px solid rgb(255 255 255);
border-radius: 0.5em;
text-align: left;
}

.centre{
 align-content:center;
/*margin:40px;*/
font: 1.2em sans-serif;
/*border: 2px solid rgb(255 0 );
border-radius: 0.5em;*/
text-align: center;
}

.centrebleu{
color:rgb(0 0 255);
 align-content:center;
/*margin:40px;*/
font: 1.2em sans-serif;
/*border: 2px solid rgb(255 0 );
border-radius: 0.5em;*/
text-align: center;
}

.textleftbleu{
color:rgb(0 0 255);
margin-top:60px;
font: 1.2em sans-serif;
border: 2px solid rgb(255 255 255);
border-radius: 0.5em;
text-align: left;
}
.bleue{
color:rgb(0 0 255);

}

.gold{
color:rgb(218 165 32);

}

/*

*/
/*---commentaire---*/
